
<!-- Toolbar -->
<div class="toolbar" role="banner">
</div>

<div class="content" role="main">

  
  <h2>{{title}}</h2>
  
<p>
  <span>Edad 1: <input type="number" [(ngModel)]="edad1"></span>
</p>
<p>
  <span>Edad 2: <input type="number" [(ngModel)]="edad2"></span>
</p>
<p>
  <span>Promedio: <input type="text" [ngModel]="promedio" readonly></span>
</p>
<p>
  <span>Suma: <input type="text" [ngModel]="suma" readonly></span>
</p>
<button (click)="ClickCalcular()">Calcular</button>
<button (click)="ClickLimpiar()">Limpiar cuadros de texto</button>
</div>

<router-outlet></router-outlet>
